/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 7, 2015, 11:31:22 PM
    Author     : frankent
*/
@import url('font/supermarket/supermarket.css');

.supermarket{
    font-family: 'supermarketregular' , sans-serif;
}

.blue, a.blue{
    color: #333367;
}

.red, a.red{
    color: #c23720;
}

.bold{
    font-weight: bold;
}

.txt_center{
    text-align: center;
}

.txt_right{
    text-align: right;
}

.menu_head ul{
    list-style: none;
    padding: 0px;
    margin-top: 25px;
}

.menu_head ul li{
    display: inline-block;
    /*height: 37px;
    line-height: 37px;*/
    text-align: center;
    margin: 0px 5px;
}

.menu_head ul li a{
    padding: 4px 15px;
    display: block;
    font-size: 24px;
    color: #333367;
    /*text-decoration: none;*/
}

.menu_head ul li.current-menu-item a, .menu_head ul li.current_page_item a{
    background-color: #333367;
    color: #fff;
    text-decoration: none;
}

.menu-main-menu-container{
    display: inline-block;    
}

.addon_contact{

}

ul.addon_contact {
    display: inline-block;
}

ul.addon_contact li a{
    margin: 0px;
    padding: 0px;
}

.blue_ribbon{
    background-color: #333367;
    color: #fff;
    padding: 25px 0px;
}

.blue_ribbon_heaeder{
    color: #fff;
    background-color: #333367;
    padding: 10px 0px;
    position: relative;
}